footer {
  padding: 40px 0;
  text-align: center;
  text-transform: uppercase;

  background: #232323;
  
  &__title {
    font-size: 26px;
    color: #fff;
  }
}

//====================================================================================================

//====================================================================================================