.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 800;

  // .header__top
  &__top {
    position: relative;
    padding: 20px 0px;

    background-image: url('../../img/header_bg.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #fff;
    // z-index: 3;

    @media (max-width:$md3+px) {
      position: fixed;
      height: 66px;
      width: 100%;

      background-image: none !important;
    }
  }

  // .header__contacts
  .header__contacts {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width:$md2+px) {
      justify-content: center;
    }
  }

  // .header__logo
  &__logo {

    img {
      position: absolute;
      height: 100%;
      bottom: 0;
      top: 0;
      object-fit: cover;

      @media (max-width:$md3+px) {
        left: 0;
        right: 0;
        margin: auto;
      }
    }

    @media (max-width:$md2+px) {
      display: none;
    }

    @media (max-width: 540px) {
      display: block;
    }
  }

  // .header__info
  &__info {
    display: flex;
    align-items: center;

    @media (max-width: 540px) {
      display: none;
    }
  }

  // .header__btn
  &__btn {
    margin: 0px 0px 0px 30px;

    font-size: 18px;

    @media (max-width:$md3+px) {
      display: none;
    }
  }

  // .header__menu
  &__menu {
    position: relative;
    z-index: 2;
    background: #fff;
    border-bottom: 4px solid #e9a617;
    box-shadow: 0 10px 13px 0px rgba(#000, .1);

    @media (min-width:$md3+px) {
      &._fixed {
        position: fixed;
        width: 100%;
        left: 0;
        top: 0;
        opacity: .8;
      }
    }

    @media (max-width:$md3+px) {
      border-bottom: none;
    }
  }
}

.phone,
.mail {
  display: block;
  padding-left: 31px;

  transition: all 0.3s ease 0s;

  @media (min-width: 992px) {
    &:hover {
      padding: 0px 0px 0px 29px;
      text-decoration: underline;
      color: #000;
    }
  }
}

.mail {
  background: url('../../img/i-mail.png') left center no-repeat;

  font-size: 17px;
  line-height: 21px;
  color: #363636;

  @media (max-width:$md3+px) {
    display: none;
  }
}

.phones {
  margin: 0px 0px 0px 55px;

  @media (max-width:$md3+px) {
    position: relative;
    z-index: 10;
    margin: 2px 0px 0px 0px;
    display: flex;
    align-items: center;
  }
}

.phone {
  background: url('../../img/i-phone.png') left top no-repeat;

  font-size: 19px;
  font-weight: 700;
  color: #262626;

  &+& {
    margin-top: 12px;

    @media (max-width:$md3+px) {
      margin: 0px 0px 0px 30px;
    }
  }
}