.header {

  // .header__top
  &__top {
    padding: 20px 0px;
    background-image: url('../../img/header_bg.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #fff;

    @media (max-width:$md3+px) {
      background-image: none !important;
      height: 66px;
    }
  }

  // .header__contacts
  .header__contacts {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width:$md2+px) {
      justify-content: center;
    }
  }

  // .header__logo
  &__logo {

    @media (max-width:$md2+px) {
      display: none;
    }
  }

  // .header__info
  &__info {
    display: flex;
    align-items: center;
  }

  // .header__btn
  &__btn {
    margin: 0px 0px 0px 30px;

    font-size: 18px;

    @media (max-width:$md3+px) {
      display: none;
    }
  }

  // .header__menu
  &__menu {
    background: #fff;
    border-bottom: 4px solid #e9a617;
    box-shadow: 0 10px 13px 0px rgba(#000, .1);
  }
}

.phone,
.mail {
  display: block;
  padding-left: 31px;

  transition: all 0.3s ease 0s;

  @media (min-width: 992px) {
    &:hover {
      padding: 0px 0px 0px 29px;
      text-decoration: underline;
      color: #000;
    }
  }
}

.mail {
  background: url('../../img/i-mail.png') left center no-repeat;

  font-size: 17px;
  line-height: 21px;
  color: #363636;

  @media (max-width:$md3+px) {
    display: none;
  }
}

.phones {
  margin: 0px 0px 0px 55px;

  @media (max-width:$md3+px) {
    margin: 2px 0px 0px 0px;
    display: flex;
    align-items: center;
  }
}

.phone {
  background: url('../../img/i-phone.png') left top no-repeat;

  font-size: 19px;
  font-weight: 700;
  color: #262626;

  &+& {
    margin-top: 12px;

    @media (max-width:$md3+px) {
      margin: 0px 0px 0px 30px;
    }
  }
}