.contact-info {
  padding: 40px 0;

  // .contact-info__items
  &__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  // .contact-info__item
  &__item {
    flex: 0 1 33.3%;
    font-size: 19px;
    font-weight: 700;
    color: #1489de;
    text-align: center;

    @media (max-width: 635px) {
      flex: 0 1 100%;
      margin: 0px 0px 25px 0px;

      &:last-child{
        margin: 0px 0px 0px 0px;
      }

    }

    img {
      margin: 0px 0px 10px 0px;
    }

    a {
      margin: 0px 0px 5px 0px;
      display: block;
      font-size: 19px;
      font-weight: 700;
      color: #1489de;
    }
  }

}