.header {

  // .header__top
  &__top {
    padding: 20px 0px;
    background-image: url('../../img/header_bg.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  // .header__contacts
  .header__contacts {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  // .header__logo
  &__logo {}

  // .header__info
  &__info {
    display: flex;
    align-items: center;
  }

  // .header__btn
  &__btn {
    margin: 0px 0px 0px 30px;

    font-size: 18px;
  }

  // .header__menu
  &__menu {
    background: #fff;
    border-bottom: 4px solid #e9a617;
    box-shadow: 0 10px 13px 0px rgba(#000, .1);
    position: relative;
  }
}

.phone,
.mail {
  display: block;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    display: block;
    width: 24px;
    height: 21px;
    top: 50%;
    transform: translate(0px, -50%);
  }

  transition: all 0.3s ease 0s;

  @media (min-width: 992px) {
    &:hover {
      text-decoration: underline;
      color: #000;
    }
  }
}

.mail {
  font-size: 17px;
  color: #363636;

  &::before {
    left: -32px;
    background: url('../../img/i-mail.png') 0 0 no-repeat;
  }
}

.phones {
  margin: 0px 0px 0px 55px;
}

.phone {
  font-size: 18px;
  font-weight: 600;
  color: #262626;

  &::before {
    left: -22px;
    background: url('../../img/i-phone.png') 0 0 no-repeat;
  }

  &+& {
    margin-top: 12px;
  }
}