.order {
  background-color: $c_1;

  // .order__container
  &__container {}
}


.order-form {
  max-width: 700px;
  padding: 25px 15px;
  margin: 0 auto;
  border: 5px solid #fff;
  background: #fff;
  box-shadow: 0 4px 13px -3px rgba(#000, .2);
  border-radius: 10px;

  // .order-form__title
  &__title {
    margin: 0px 0px 10px 0px;
  }

  // .order-form__text
  &__text {
    margin: 0px 0px 20px 0px;

    font-size: 16px;
  }

  // .order-form__fields
  &__fields {
    display: flex;
  }

  // .order-form__column
  &__column {}

  // .order-form__line
  &__line {}

  // .order-form__input
  &__input {
    border: 1px solid rgba(255, 255, 255, 0.35);
  }

  // .order-form__textarea
  &__textarea {
    padding: 15px 15px 15px 20px;
  }

  // .order-form__btn
  &__btn {}
}