.order {
  background-color: $c_1;

  .order-form {
    max-width: 700px;
    padding: 25px 15px;
    margin: 0 auto;

    border: 5px solid #fff;
    background: #fff;
    box-shadow: 0 4px 13px -3px rgba(#000, .2);
    border-radius: 10px;

    // .order-form__title
    &__title {
      margin: 0px 0px 10px 0px;
    }

    // .order-form__text
    &__text {
      margin: 0px 0px 20px 0px;

      font-size: 16px;
    }

    // .order-form__fields
    &__fields {
      margin: 0px 0px 25px 0px;

      @media (min-width: 575.99px) {
        display: flex;
      }
    }

    // .order-form__column
    &__column {

      @media (min-width: 575.99px) {
        &--in {
          flex: 0 0 40%;
          margin: 0px 20px 0px 0px;
        }

        &--txt {
          flex: 0 1 60%;
        }
      }
    }

    // .order-form__line
    &__line {
      margin: 0px 0px 25px 0px;

      @media (min-width: 575.99px) {
        &:last-child {
          margin: 0px 0px 0px 0px;
        }
      }
    }

    &__input,
    &__textarea {
      // border: 1px solid rgba(255, 255, 255, 0.35);
      border: 1px solid $c_2;

      &:focus {
        border-color: #8643DC;
        box-shadow: 0 4px 13px -3px rgba(#000, .6);
      }
    }

    // .order-form__textarea
    &__textarea {}


    // .order-form__btn
    &__btn {
      width: 100%;
      justify-content: center;

      font-size: 18px;
    }
  }
}