.portfolio {

  // .portfolio__title
  &__title {}

  // .portfolio__gallery
  &__items {
    display: flex;
    flex-wrap: wrap;
    margin: 0px -10px;
  }

  // .portfolio__col
  &__col {
    flex: 1 1 25%;
    padding: 0px 10px;
    // height: 290px;
  }

  // .portfolio__gallery-item
  &__item {
    margin-bottom: 20px;
    border-radius: 10px;
    overflow: hidden;
  }

  // .portfolio__gallery-photo
  &__photo {
    // height: 290px;

    img {
      max-width: 100%;
    }
  }
}