.reviews {
  background: #f2fafe;

  // .reviews__container
  &__container {
    position: relative;

    .swiper-pagination {
      margin-bottom: 30px;
    }
  }

  // .reviews__title
  &__title {}

  // .reviews__items
  &__items {
    max-width: 990px;
    margin: 0 auto;
  }

  // .reviews__item
  &__item {
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  // .reviews__avatar
  &__avatar {
    // flex: 0 1 100%;
    width: 160px;
    border-radius: 50%;
    margin: 0px 20px 0px 0px;
  }

  // .reviews__item-content
  &__item-content {}

  // .reviews__item-title
  &__item-name {
    margin: 0px 0px 20px 0px;

    font-size: 20px;
    font-weight: 700;
    color: #1489de;
    text-decoration: underline;
  }

  // .reviews__item-text
  &__item-text {
    font-size: 17px;
    line-height: 1.2;
  }

  // .reviews__btn
  &__btn {
    // margin: 70px 0px 0px 0px;
    align-items: center;
    min-width: 0;
    justify-content: center;

    img {
      display: block;
      margin-left: 10px;
    }
  }
}