.services {
  padding: 104px 0px 80px;
  background-color: #eef7fb;

  // .services__items
  &__items {
    display: flex;
    flex-wrap: wrap;
    margin: 0px -15px;
  }

  // .services__column
  &__column {
    flex: 0 1 50%;
    padding: 0px 15px;
    margin-bottom: 30px;


    @media (max-width: 1200px) {
      flex: 0 1 70%;
      margin: 0 auto;
    }

    @media (max-width:$md2+px) {
      flex: 0 1 100%;
    }
  }

  // .services__item
  &__item {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 40px;

    height: 100%;

    background-repeat: no-repeat;
    background-position: center center;
    background-size: 1200px 580px;
    border-radius: 10px;
    box-shadow: 0 4px 13px -3px rgba(#000, .2);
    overflow: hidden;

    transition: all 0.6s ease 0s;


    &:hover {
      @media (min-width:$md2+px) {
        background-position: center left;
        box-shadow: 0 4px 90px -3px rgba(#000, .2);
      }
    }

    &--flat {
      background-image: url('../../img/homepage/i-serv-1.jpg');
    }

    &--house {
      background-image: url('../../img/homepage/i-serv-2.jpg');
    }

    &--office {
      background-image: url('../../img/homepage/i-serv-3.jpg');
    }

    &--bathroom {
      margin-bottom: 0;
      background-image: url('../../img/homepage/i-serv-4.jpg');
    }
  }

  &__desc {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 25px 20px 20px;
    flex: 0 1 68%;

    background-color: #fff;

    @media (max-width: 1200px) {
      flex: 0 1 55%;
    }

    @media (max-width:$md3+px) {
      flex: 0 1 100%;
      background-color: rgba(#000, .8);
    }
  }

  // .services__item-title
  &__item-title {
    font-size: 26px;
    font-weight: 700;
    color: #3d92e0;
    flex: 1 1 auto;

    @media (max-width:$md3+px) {
      font-size: 24px;
    }
  }

  // .services__list
  &__list {
    padding-bottom: 35px;

    @media (max-width:$md3+px) {
      padding: 20px 0px 30px;
    }
  }

  // .services__list-item
  &__list-item {
    position: relative;
    margin-bottom: 20px;
    padding: 0px 0px 0px 20px;

    font-size: 17px;

    &:last-child {
      margin-bottom: 0;
    }

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      left: 0;
      width: 16px;
      height: 16px;
      background: url('../../img/homepage/list-mark.png') 0 0 no-repeat;
    }

    @media (max-width:$md3+px) {
      color: #fff;
    }
  }

  // .services__order
  &__order {
    position: relative;
    margin-right: auto;

    font-size: 19px;
    font-weight: 700;
    color: $c_3;
    border-bottom: 2px dashed $c_3;

    &::before {
      content: '';
      position: absolute;
      width: 10px;
      height: 15px;
      right: -15px;
      bottom: 3px;
      background: url('../../img/homepage/i-more-arrow.png') 0 0 no-repeat;
      transition: all 0.3s ease 0s;
    }

    &:hover {
      &::before {
        right: -23px;
      }
    }
  }
}