.menu__body {
  @media (max-width:$md3+px) {
    padding: 80px 10px 30px 10px;
    position: fixed;
    width: 100%;
    height: 50%;
    left: 0;
    top: 0;
    overflow: auto;
    z-index: 100;

    transform: translate(0px, -100%);
    transition: transform 0.8s ease 0s;

    background-color: rgba(255, 255, 255, .8);
  }

  &._active {
    transform: translate(0px, 0px);
  }
}


.menu__list {
  li {
    margin: 0px 0px 30px 0px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  @media (min-width:$md3+px) {
    display: flex;

    li {
      margin: 0px 33px 0px 0px;
    }
  }
}

.menu__link {
  display: block;
  font-size: 20px;
  color: $c_1;

  @media (min-width:$md2+px) {
    &:hover {
      text-decoration: underline;
    }
  }

  @media (max-width:$md3+px) {
    display: block;
    font-size: 40px;
    text-align: center;
  }
}